In [1]:
import pandas as pd
import numpy as np

For a single string element you can do it by datetime package.

Datetime format can be found in this URL:
https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior

In [2]:
from datetime import datetime

In [3]:
datetime.strptime('01-MAR-15', '%d-%b-%y')

datetime.datetime(2015, 3, 1, 0, 0)

To make it work for list of string, just apply this.

In [4]:
date_list = ['01-MAR-15', '12-APR-16']
[datetime.strptime(s, '%d-%b-%y') for s in date_list ]

[datetime.datetime(2015, 3, 1, 0, 0), datetime.datetime(2016, 4, 12, 0, 0)]

For pandas object, just use method `to_datetime`

In [12]:
df = pd.DataFrame({'item':[0, 1, 2, 3, 4, 5]
                   ,'order_day':['01-MAR-15', '12-APR-16', '01-MAR-15', '01-MAR-15', '02-MAR-15', '02-MAR-15']})
df

   item  order_day
0     0  01-MAR-15
1     1  12-APR-16
2     2  01-MAR-15
3     3  01-MAR-15
4     4  02-MAR-15
5     5  02-MAR-15

In [13]:
order_day = pd.to_datetime(df.order_day, format = '%d-%b-%y')
order_day

0   2015-03-01
1   2016-04-12
2   2015-03-01
3   2015-03-01
4   2015-03-02
5   2015-03-02
Name: order_day, dtype: datetime64[ns]

The day difference can be found by specifying `.days`

In [14]:
(order_day[1] - order_day[0]).days

408

The conversion format can be found from this table

https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior

To select the date, just compare like string

In [16]:
df.order_day == '01-MAR-15'

0     True
1    False
2     True
3     True
4    False
5    False
Name: order_day, dtype: bool

In [18]:
df.ix[df.order_day == '01-MAR-15',:]

   item  order_day
0     0  01-MAR-15
2     2  01-MAR-15
3     3  01-MAR-15