## word contains characters

In [ ]:
mylist = ['dogs', 'frogs', 'cats', 'drops', 'logs', 'drseuss']

In [1]:
# display words containing 'og'
[s for s in mylist if 'og' in s]

['dogs', 'frogs', 'logs']

In [2]:
# display words not containing 'og'
[s for s in mylist if 'og' not in s]

['cats', 'drops', 'drseuss']

In [3]:
# display words not containing 'og' and 'dr'
[s for s in mylist if ('og' not in s) & ('dr' not in s)]

['cats']

## Split string in dataframe

In [2]:
import pandas as pd

In [7]:
df = pd.Series(['MR_BOT_KAMPA', 'MRS_JOhn_Doe_III', 'Mr_BALLARD_OBOMO_Jr'])
df

0           MR_BOT_KAMPA
1       MRS_JOhn_Doe_III
2    Mr_BALLARD_OBOMO_Jr
dtype: object

In [12]:
# split each record in the series by "_" for only 2 times
my_split = df.str.split("_", 2)
my_split

0           [MR, BOT, KAMPA]
1       [MRS, JOhn, Doe_III]
2    [Mr, BALLARD, OBOMO_Jr]
dtype: object

In [15]:
# get the first name only (the position 1 in the list)
my_split.str.get(1)

0        BOT
1       JOhn
2    BALLARD
dtype: object